* {
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  background-color: #ff4e47;
  color: white;
  text-align:center;
}

p {
  margin: 3rem;
}

a {
  color: white;
  text-decoration: none;
}

.four-zero-four {
  font-family: 'Monoton';
  font-size: 15rem;
}
.not-available {
  font-size: 5rem;
}

.go-home {
  font-size: 3rem;
}

.go-home:hover{
  text-decoration: underline;
}
