* {
  font-family: "Avenir";
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

  background-color: #fcfcfc;
}

img {
  border-radius: 50%;
  height: 4em;
}

a {
  color: #ff4e47;
  text-decoration: none;
}
  a:hover {
    text-decoration: underline;
  }

h1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: #ff4e47;
}

h2 {
  margin: 0;
}


/* Header section styles */
.div--header {
  display: flex;
}

.div--img-wrapper {
  padding-right: 1em;
}


/* Skills section styles */
.div--skills {
  padding-bottom: 0.25em;
}

.div--skills-section {
  display: flex;
  align-items: center;
}

.span--skill-section-title {
  padding-right: 1em;
  font-weight: bold;
}

.span--skill-section-list {
  font-family: "Avenir";
}


/* Bio section styles */
.div--bio {
  display: flex;
  flex-direction: column;
}

.div--bio > span {
  font-family: "monaco";
  padding-bottom: 0.25em;
}

.div--bio > span > a {
  font-family: "monaco";
}

.div--bio > span > i {
  padding-right: 1em;
}

/* Links section styles */
.span--links > a {
  font-family: "monaco";
}

  .span--links > a > i {
    color: black;
    text-decoration: none;
  }

  .span--links > a > i:hover {
    color: #ff4e47;
  }

.no-wrap {
  white-space: nowrap;
}

/* Small screen accommodations */
@media only screen and (max-device-width: 375px){
  /* Cap width to prevent awkward line break */
  .div--skills {
    max-width: 87%;
  }
  .div--skills-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-device-width: 414px){
  /* Cap width to prevent awkward line break */
  .div--skills-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}