body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  margin-top: 50px;
  margin-right:50px;
}

a {
  color: black;
}
.resume-link:hover {
  color: #ff4e47 !important;
  text-decoration: none;
}

footer {
  text-decoration:none;
  margin-left: 15px;
  font-size:24px;

}

.sample-work {
  margin-top:50px;
}

.project-thumbs {

  max-width: 37rem;
  max-height: auto;

}

.change-color:hover {
  color: #ff4e47 !important;
  text-decoration:none;
}

.outside-work {
  padding-left: 50px;
  padding-bottom: 10px;
}

.content-text {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.grafs {
  padding-left:50px;
  font-size: 1.5rem;
  list-style-type: none;
}

.link-about {
  color: #ff4e47 !important;
}

.navigation-list {

  font-size:2.5rem;
  list-style-type: none;
  float:left;
  text-align:right;

}

.more {
  display:none;
}

.primary-info {
  margin-top: 50px;
  padding-bottom: 25px;
  font-weight: 600;

}

.contact-list {
  list-style-type: none;
  float:left;
  margin-top:50px;
  font-size:26px;
}

.hide-over {
  overflow:hidden
}

#first-graf {
  margin-top:50px;

}
#content {
  margin-top: 50px;
}

#link-normal {
  color:black;
  text-decoration:none;
}

.link-normal {
  color:black;
  text-decoration:none;
}

#link-normal:hover {
  color:#ff4e47;
}


.link-normal:hover {
  color:#ff4e47;
  text-decoration: none;
}

.profile-pic {
  float:left;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
}


#four-zero-four {

  font-family: 'Monoton', cursive;
  font-size: 156px;


}

#not-available {

  font-size: 66px;

}

#go-home {

  font-size: 56px;
  text-decoration: none;
  color:white !important;
}

#go-home a {
  color:white !important;
}

.error-page {

  color: white !important;
  font-family: 'Raleway', sans-serif;
  text-align:center;

}
