* {
  font-family: "Roboto", -apple-system, "Helvetica Neue", sans-serif;
  color: #323e56;
}

a:hover {
  color: #465c87;
}

.root {
  display: flex;
  flex-direction: column;

  background-color: #f7f1ec;

  /* Prevent scroll and create border around entire window */
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  border: 10px solid #2a6811;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 85%;
  max-width: 575px;
  margin-left: 7.5%;
  margin-top: 7.5%;

  line-height: 24px;
}

.title {
  margin-bottom: 8px;
  font-size: 36px;
}

.description {
  font-size: 20px;
}

.slash {
  padding-left: 12px;
  padding-right: 12px;
}
